<h1> Project #3 |  Dengue Analysis</h1>
<hr>
<h3> Data Analysists :  Quert Russel Lalisan | BSIT 3B </h3>

In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import warnings
from scipy.stats import f_oneway
warnings.filterwarnings('ignore')

In [4]:
dengue = pd.read_csv('dataset/dengue.csv')

In [17]:
Region_Cases = dengue.groupby('Region')['Dengue_Cases'].value_counts().reset_index()

          Region  Dengue_Cases  count
0          BARMM            23      2
1          BARMM           124      2
2          BARMM            13      1
3          BARMM            15      1
4          BARMM            16      1
..           ...           ...    ...
985  Region XIII          1201      1
986  Region XIII          1361      1
987  Region XIII          2036      1
988  Region XIII          2047      1
989  Region XIII          2310      1

[990 rows x 3 columns]